body {
  font-family: 'Poppins', sans-serif;
  /* background-color: black; */
  /* color: white; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.row {
  margin: auto;
  max-width: 100%;
}

/* .navbar-toggler, .navbar-toggler:focus {
  border: none;
  box-shadow: none;
} */

/* nav, .navbar-brand, .nav-item svg {
  color: white;
} */

.navbar-brand:focus, .nav-link:focus {
  background-color: transparent;
  border: none;
}

.mainHeader {
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 8%;
  width: 100%;
  right: 50%;
  transform: translate(50%, 0);
}

.search-bar {
  width: 80%;
  margin: auto;
  border-radius: 100px;
  padding: 0px;
}

.input-group-text {
  background-color: white;
  border: 1px solid black;
  border-right: none;
  border-radius: 100px;
}

.btn-search {
  background-color: #A9C52F;
  border: 1px solid black;
  border-radius: 100px;
}

.btn-search:hover,
:focus {
  background-color: #A9C52F;
  border: 1px solid black;
  border-radius: 100px;
}

.search-bar input {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  border-radius: 100px;
}

.search-bar input:focus {
  box-shadow: none;
  border-color: #A9C52F;
}

.search-bar:focus {
  box-shadow: none;
}

.bottom-nav {
  width: 100%;
  background-color: #A9C52F;
  padding: 10px 15px 0px 15px;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.video-results {
  position: absolute;
  top: 12%;
  right: 50%;
  transform: translate(50%, 0%);
  z-index: -18;
}

.video-results .img-thumbnail {
  border: none;
  padding: 0px;
  border-radius: 10px 0px 0px 10px;
}

.video-card .card {
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
}

.bottom-nav input[type=range] {
  width: 95%;
  padding: 0px 10px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 95%;
  --thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

.bottom-nav input[type=range]:hover,
.bottom-nav input[type=range]:focus {
  border: none;
  box-shadow: none;
}

.btn-play,
.btn-play:focus {
  border: none;
  background-color: #A9C52F;
}

.player-slide {
  display: flex;
  justify-content: center;
}

.login-form {
  width: 50%;
  position: absolute;
  margin: auto;
  top: 25%;
  right: 50%;
  transform: translate(50%, 0%);
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 5px 10px;
  }

  .mainHeader {
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 10%;
    width: 100%;
    right: 50%;
    transform: translate(50%, 0);
  }

  .search-bar {
    width: 100%;
    margin: auto;
  }

  .video-card .card-title, .video-card .card-text {
    font-size: small ;
  }

  .video-card .card-body {
    padding: 10px 0px;
  }

  .video-results .img-thumbnail {
    border: none;
    padding: 0px;
    border-radius: 4px 4px 0px 0px;
  }
  
  .video-card .card {
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
  }

  .bottom-nav {
    width: 100%;
    background-color: #A9C52F;
    padding: 10px 15px 0px 15px;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 20;
  }

  .video-results {
    position: absolute;
    top: 12%;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: -18;
  }

  .bottom-nav .row .col-lg-12{
    width: 100%;
    margin: auto;
    padding: 0px;
  }

  .bottom-nav .audio-title, .bottom-nav .audio-src {
    font-size: smaller;
  }

  .bottom-nav input[type=range] {
    width: 95%;
    padding: 0px 10px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 95%;
  }

  .video-results {
    position: absolute;
    top: 12%;
    right: 50%;
    transform: translate(50%, 0%);
  }

  .login-form {
    width: 90%;
    position: absolute;
    margin: auto;
    top: 20%;
    right: 50%;
    transform: translate(50%, 0%);
  }
}