body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.row {
  margin: auto;
  max-width: 100%;
}

.dropdown-menu {
  min-width: 150px !important;
  font-size: 0.875rem;
  line-height: 1.2rem;
}

.loading-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%, 0%);
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #A9C52F;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
  /* Center the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.normal-link:focus {
  background-color: transparent;
  border: none;
}

.maker-url a,
.maker-url a:focus,
.maker-url a:active {
  text-decoration: none;
  color: whitesmoke;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.maker-url a:hover {
  cursor: pointer;
  color: #A9C52F;
}

.navbar {
  background-color: black;
}

.navbar-brand,
.nav-item svg,
.navbar-brand:hover,
.nav-item,
.nav-link,
.navbar-brand:focus,
.nav-link:focus,
.nav-item:focus {
  color: white;
  background-color: transparent;
  border: none;
  color: white;
}

.navbar-brand .user-display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  float: left;
}

.dropdown-item .drop-link:focus {
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.vid-sec {
  width: 70%;
  margin: auto;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%, -0%);
}

.video-results {
  width: 80%;
  margin: auto;
}

.video-results .video-card .vid-img {
  padding: 5px;
  object-fit: contain;
  border-radius: 10px;
}

.video-card .row .col-lg-7 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
}

.search-section form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  padding: 20px 10px;
}

.search-bar,
.search-bar:hover,
.search-bar:focus {
  margin: auto;
  border-radius: 100px;
  color: #181818;
}

.input-group-text {
  background-color: white;
  color: #181818;
  border: 1px solid black;
  border-right: none;
  border-radius: 100px;
}

.btn-search {
  background-color: white;
  color: #161717;
  border-radius: 250px;
  padding: 0px 10px;
}

.btn-search:hover,
:focus {
  background-color: #A9C52F;
  border: 1px solid black;
  color: black;
}

.search-bar input {
  border: 1px solid black;
  background-color: white;
  color: #181818;
  border-left: none;
  border-right: none;
  border-radius: 100px;
}

.search-bar input:focus {
  box-shadow: none;
  background-color: white;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  color: #181818;
}

.profile-page {
  position: absolute;
  width: 100%;
  top: 20%;
  right: 50%;
  transform: translate(50%, 0%);
}

.profile-page .prof-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prof-head img {
  width: 120px;
  margin: auto;
  padding: 10px;
}

.prof-head .username {
  color: #BDC3C7;
}

.prof-setting {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.prof-setting .email-de,
.prof-setting .pass-de,
.prof-setting .recent-de,
.prof-setting .gender-de {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px 0px;
}

.prof-del {
  margin: auto;
  width: 50%;
}

.del-account {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.prof-setting .headers {
  color: #BDC3C7;
}

.prof-setting .key {
  color: #A9C52F;
}

.modal-content,
.modal-title {
  background-color: #161717;
  border-radius: 1px;
  border: none;
}

.modal-header .close {
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-size: large;
}

.modal-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 30px 30px;
}

.modal-body .email-de,
.modal-body .pass-de,
.modal-body .recent-de,
.modal-body .gender-de,
.modal-body .user-de {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
}

.modal-body input {
  border: none;
  padding: 1px 10px;
  border-bottom: 2px solid #A9C52F;
  background-color: #181818;
  color: aliceblue;
}

.modal-body input:focus {
  box-shadow: none;
  outline: 0px;
}

.modal select,
.modal select:focus {
  background-color: white;
  border: none;
  outline: none;
  padding: 0px 5px;
}

.prof-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.prof-body .feat-playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.random-videos {
  position: absolute;
  top: 5%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 100%;
  margin: auto;
  padding: 0px 30px;
}

.playlists .card {
  border-color: #0C0C0C;
  padding: 0px;
  margin: 0px;
  background-color: #0C0C0C;
  box-shadow: 2px 2px 10px #161717;
  color: white;
}

.playlists .card .playlist-img {
  height: 110px;
  width: 160px;
  object-fit: cover;
  margin: auto;
  padding: 5px;
  border-radius: 10px 0px 0px 10px;
}

.display-cards .card {
  background-color: #0C0C0C;
  color: white;
}

.display-cards .card:hover {
  box-shadow: 2px 2px #A9C52F;
}

.display-cards .card h5,
.display-cards .card p {
  font-size: smaller;
}

.display-cards .dropdown-menu {
  background-color: #181818;
  border-color: #181818;
  color: white;
}

.display-cards .dropdown-menu .dropdown-item {
  color: white;
}

.display-cards .dropdown-menu .dropdown-item:hover {
  color: #161717;
  background-color: #A9C52F;
}

.display-cards .card-text .channel-link,
.video-results .card .channel .channel-link {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.display-cards .card-text .channel-link:hover,
.video-results .card .channel .channel-link:hover,
.display-cards .card-text .channel-link:focus,
.video-results .card .channel .channel-link:focus {
  text-decoration: underline;
  color: #BDC3C7;
  background-color: transparent;
}

.footer {
  position: absolute;
  bottom: -85%;
  right: 50%;
  transform: translate(50%, 0%);
  padding-bottom: 20px;
}

/* #76ABAE */

.video-card .card {
  background-color: #0C0C0C;
  border: 1px solid #0C0C0C;
  border-radius: 10px;
  margin: auto;
  color: white;
}

.bottom-nav {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0px;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.title-sec {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.title-sec .img-thumbnail {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-size: cover;
  background-position: center;
}

.play-center {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.bottom-nav input[type=range] {
  padding: 0px 10px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 80%;
}

.bottom-nav input[type=range]:focus {
  outline: none;
  border: none;
}

.bottom-nav input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: white;
  border: none;
  border-radius: 3px;
}

.bottom-nav input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #A9C52F;
  margin: -2px 0px;
}

.bottom-nav input[type=range]:focus {
  outline: none;
}

.bottom-nav input[type=range]:hover,
.bottom-nav input[type=range]:focus {
  border: none;
  box-shadow: none;
}

.btn-play,
.btn-play:focus,
.option-btn,
.option-btn:focus {
  border: none;
  color: white;
  background-color: transparent;
}

.option-btn:hover {
  cursor: pointer;
}

.player-slide {
  display: flex;
  justify-content: center;
}

.login,
.signup {
  width: 40%;
  position: absolute;
  margin: auto;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  padding: 80px 50px;
  border-radius: 20px;
  color: black;
}

.login .form-control,
.signup .form-control {
  border: none;
  border-bottom: 1px solid #0C0C0C;
  border-radius: 0px;
}

.login .input-group-text,
.signup .input-group-text {
  background-color: transparent;
  border-radius: 0px;
  color: black;
  border-color: #A9C52F;
}

.login .btn,
.signup .btn {
  border-radius: 0px;
  width: 100%;
}

.other-options {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.channel-page {
  position: absolute;
  top: 20%;
  right: 50%;
  width: 90%;
  transform: translate(50%, 0%);
}

.channel-img {
  border: none;
  padding: 10px;
  outline: 1px solid white;
  object-fit: contain;
  border-radius: 1000px;
}

.display-cards .card-img-top {
  padding: 10px;
  border-radius: 10px;
}

.pagination .page-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about {
  position: absolute;
  top: 20%;
  right: 50%;
  width: 50%;
  margin: auto;
  transform: translate(50%, 0%);
  text-align: center;
}

.special-url {
  text-decoration: none;
  color: #A9C52F;
  background-color: transparent;
}

.special-url:hover, .special-url:focus {
  text-decoration: underline;
  color: #BDC3C7;
  background-color: transparent;
}

.about .img-fluid {
  height: 300px;
  margin: auto;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 5px 0px;
    margin: 0px -10px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .navbar-brand .user-display {
    margin: auto;
    padding: 10px;
  }

  .navbar-brand .user-display .welcome-msg {
    display: none;
  }

  .navbar svg .sp {
    height: 35px;
    width: 35px;
    padding: 0px;
    margin: 2px;
  }

  .mainHeader {
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 10%;
    width: 100%;
    right: 50%;
    transform: translate(50%, 0);
  }

  .prof-setting {
    width: 90%;
    margin: auto;
  }

  .prof-del {
    margin: auto;
    width: 90%;
  }

  .modal-body input {
    width: 250px;
  }

  .random-videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
  }

  .random-videos .col-sm-6 {
    width: 50%;
    margin-bottom: none;
  }

  .display-cards {
    margin-bottom: -30px;
  }

  .about {
    width: 100%;
    padding: 5px;
  }

  .about .img-fluid {
    width: 100%;
    object-fit: contain;
  }

  .search-bar,
  .search-bar:hover,
  .search-bar:focus {
    width: 100%;
    margin: 0px;
    height: 50px;
  }

  .btn-search {
    padding: 10px 15px;
  }

  .search-bar .input-group-text {
    padding: 0px 3px 0px 10px;
  }

  .video-results {
    width: 100%;
    padding: 0px 0px;
  }

  .video-results .row .col-lg-12 {
    padding: 0px;
  }

  .video-card .card-title,
  .video-card .card-text {
    font-size: small;
  }

  .video-card .card-body {
    padding: 10px 10px;
  }

  .video-card .row .card-body .col-lg-11 {
    width: 92%;
  }

  .video-card .row .card-body .col-lg-1 {
    width: 8%;
    margin: 0px auto;
  }

  .video-card .card {
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    padding-bottom: 10px;
    max-width: 100%;
  }

  .video-card .card .col-lg-5 .vid-img {
    margin: auto;
    padding: 10px;
  }

  .video-card .card .card-body .card-text {
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
  }

  .bottom-nav {
    width: 100%;
    background-color: black;
    color: white;
    padding: 0px;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 20;
  }

  .bottom-nav .options {
    display: none;
  }

  .bottom-nav .row .title-sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .bottom-nav .row .title-sec .col-lg-8 {
    width: 100%;
  }

  .bottom-nav .title-sec .img-thumbnail {
    height: 100px;
    width: 150px;
    max-width: 150px;
    margin: auto;
    object-fit: cover;
    background-size: cover;
    border: none;
    background-position: center;
  }

  .bottom-nav .row .col-lg-12 {
    width: 100%;
    margin: auto;
    padding: 5px 10px;
  }

  .bottom-nav .audio-title,
  .bottom-nav .audio-src {
    font-size: smaller;
  }

  .bottom-nav input[type=range] {
    width: 95%;
    padding: 0px 10px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 95%;
  }

  .channel-page {
    width: 100%;
    padding: 0px 7px;
  }

  .channel-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .channel-header .col-lg-11 {
    margin-top: 20px;
  }

  .channel-header .channel-des {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .channel-contents {
    width: 100%;
    padding: 0px;
  }

  .channel-contents .col-sm-6 {
    width: 50%;
    margin: auto;
    padding: 0px;
  }

  .vid-sec {
    width: 90%;
    position: absolute;
    top: 12%;
    right: 50%;
    transform: translate(50%, 0%);
  }

  .video-results {
    width: 100%;
    padding: 0px;
    margin: none;
  }

  .login,
  .signup {
    width: 90%;
    position: absolute;
    margin: auto;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: white;
    padding: 60px 20px;
    border-radius: 20px;
    color: black;
  }

  .footer {
    position: absolute;
    bottom: -170%;
    right: 50%;
    padding-bottom: 20px;
    transform: translate(50%, 600%);
  }
}